.ServiceHero {
  .wrapper {
    display: flex;
    justify-content: space-between;

    li,
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      /* identical to box height, or 152% */

      color: #001f1f;
    }

    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      /* or 121% */

      letter-spacing: 0.25px;

      color: #4a4a4a;
    }

    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #434a54;

      
    }

    .imageHero {
      @media (width<=1071px) {
        display: none;
      }
    }
    .imageHero > img {
      width: 600px;
      height: 600px;
      @media (width<= 999px) {
        margin-left: 300px;
      }

      @media (width<=1483px) {
        width: 400px;
        height: 400px;
      }
    }
  }
}
