.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .hero__Text {
    font-family: "Sailec-Bold";
    font-size: 36px;
    line-height: 84px;
    /* or 121% */

    letter-spacing: 0.25px;

    color: #4a4a4a;

    p {
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #434a54;
    }
  }

  .hero__image {
    background-image: url("../../Assets/questions.png");
    width: 600px;
    height: 600px;
  }
}

.cards {
  margin-bottom: 5rem;

    svg {
        fill: #fff;
    }

}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.question {
  color: #fff;
}
